.moon-container {
  position: fixed;
  top: 35%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.moon {
  width: 280px;
  height: 280px;
  filter: brightness(1);
  position: absolute;
  top: -160px;
  left: -70px;
  transform-origin: center;
}
